.field__icon {
  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 59px;
    height: 59px;
    background-color: $border-grey;
    order: 2;
  }
}

.field__icon--phone {
  @media (min-width: $tablet-width) {
    background: $border-grey url("../img/form/phone.svg") no-repeat scroll center center;
  }
}

.field__icon--email {
  @media (min-width: $tablet-width) {
    background: $border-grey url("../img/form/mail.svg") no-repeat scroll center center;
  }
}
