.page__body {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  z-index: 5;

  @media (min-width: 320px) and (max-width: ($tablet-width - 1)) {
    max-width: 320px;
  }

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    max-width: $tablet-width;
  }
}
